<template name="footer">
            <div class="footer">
                <p class="center">
                    © 2015 Hevon, All rights reserved.&nbsp;
                    Created & Designed by MarWeb&nbsp;
                    <a href="http://www.marweb.info/"> www.marweb.info</a></p>
            </div>
</template>

<!-- <div class="footer">
                <p class="left">© 2015 Hevon, All rights reserved. </p>
                <p class="right" style="margin-right: 100px;">
                    Created & Designed by MarWeb&nbsp;
                    <a href="http://www.marweb.info/" class="right"> www.marweb.info</a></p>
            </div>-->