@font-face {
    font-family: "Acto-UltraLight";
    src: url("/Fonts/Acto/Acto-UltraLight.otf");
}
.parallax-window {
    height: 400px;
    width: 100%;
    background: transparent;
    color: white;
}

body {
    font-size: 16px;
}

.lala {
    background-color: #0B1219;
    opacity: 0.7;
    height: 70px;
    width: 495px;
    position: relative;
    font-size: 24px;
    float: left;
    line-height: 2;
    padding: 10px;

}

/*blog*/
.account.panel.panel-info {
    width: 100%;
    height: 700px;
}
.post-content {
    width: 30%;
    height: 300px;
    display: inline-block;
    background-color: antiquewhite;
    border-color: #006ed1;
    float: left;
    margin: 10px;
    padding: 10px;
}
.form-control {
    border-radius: 0px;
}
.input-group-addon {
    border-radius: 0px;
}
.navbar-default .navbar-brand {
    color: black;
    font-size: 30px;
}

.navbar {
    margin-bottom: 0px !important;
}
.b-calculator__input-container {
    width: 336px;
    height: 52px;
    margin: 1%;

    }

input, textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0px;
        }
.btn {
    border-radius: 0px;
}
textarea:focus, input:focus{
    outline: none;
}

.b-calculator__input-container {
        box-shadow: 0 1px 1px rgba(128, 128, 128, 0.2);
        background: #fff;
        height: 52px;
        overflow: hidden;
        position: relative;
        margin: 0 auto 6px;
        cursor: pointer;
        color: #354464;
    }

.b-calculator__input-amount {
    -webkit-font-smoothing: antialiased;
    font-family: 'Sharp Sans Frontieres', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    float: left;
    border: 0;
    width: 42%;
    height: 100%;
    padding: 0 16px 0;
}
.b-calculator__input-label {
    color: #00c6ff;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    float: left;
    width: 28%;
    height: 100%;
    padding: 16px 20px 0;}

.b-calculator__input-label:hover {
    color: #006ed1;
}

.b-calculator__input-currency {
    text-align: left;
    float: right;
    position: relative;
    width: 30%;
    height: 100%;
   }

.b-calculator__input-currency-select {
    font-family: 'Avenir W02', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 22px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-weight: 400;
    background: #00c6ff;
    outline: none;
    border: none;
    padding-left: 10px;
}
.b-calculator__input-currency-select:hover
{
    background: #337ab7;
}
option {
    background-color: white;
    color: #354464;
    font-size: 14px;
    outline: none;
}

.b-calculator__input-currency-current {
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-family: 'Sharp Sans Frontieres', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    height: 100%;
    padding: 14px 0 0 16px;
    background: #00c6ff;
}

.b-button {
        box-shadow: 0 1px 1px rgba(128, 128, 128, 0.2);
        color: #fff !important;
        font-size: 14px !important;
        font-family: 'Avenir W02', 'Helvetica Neue', helvetica, arial, sans-serif !important;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        display: inline-block;
        border: 0;
        border-bottom: 1px solid #32aa22;
        min-width: 192px;
        width: 336px;
        padding: 18px 36px 16px;
        background-color: #46d633;
        cursor: pointer;
        margin-left: 15px;
        }
.b-button:hover {
    background-color: #32aa22;
}

img:hover  {
transform: scale(1.05);
}
    
img {
transition: transform .25s ease;
}

.divvisa {
    display: inline-block;
    padding:50px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
}
.info {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
    background-image: url("./img/hevon.jpg");
    background-size: cover;
   }
.ininfo {
    width: 35%;
    height: 600px;
    float: left;
    font-size: 30px;
    color: white;
    padding: 3%;
    }
    .ininfo2 {
        width: 366px;
        height: 200px;
        float: right;
        margin: 5%;
           }

.row-fluid {
    margin: 0 auto;
}
/*header*/
.nav.navbar-nav {
    float: right;
}

.navbar.navbar-default {
    border-radius: 0px;

      }

body  {
    background-image: url("img/blue.jpg");
    background-repeat: repeat-y
    width: 100%;
    font-family: 'Acto-UltraLight',sans-serif;
   }

.parallax-window {
    height: 400px;
    width: 100%;
    background: transparent;
    color: white;
}

.map-container {
    width:550px;
    max-width: 80%;
    height: 200px;
    margin-bottom: 10%;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: darkseagreen;
    padding: 10px;
    margin: 0px;

;}

.contact {
    background-color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

.input-group-addon {
    visibility: hidden;
}

.howitworks {
    background-color: #DBFAFF;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.waytobeat {
    background-image: url("/img/money_transfer_slide.png");
    background-size: cover;
    height: 300px;
    padding: 20px;
}

.aboutimg {
    background-image: url("./img/Screenshot_214.png");
    background-size: cover;
    height: 400px;
}
.support {
    background-image: url("./img/Screenshot_214 (2).png");
    background-size: cover;
    height: 400px;
}