body {
    font-family: 'Acto-UltraLight',sans-serif;
    background-color: #fafafa;
}

@font-face {
    font-family: "Acto-UltraLight";
    src: url("/Fonts/Acto/Acto-UltraLight.otf");
}

.map-container {
    height: 200px;
    margin-bottom: 10%;
}
nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
}

.info {
    height: 600px;
    background-image: url("./img/parallax/sparkler.jpg");
    background-size: cover;
}
.fa-facebook, .fa-google-plus, .fa-twitter {
    font-size: 23px;
    margin-right: 15px;
    margin-top: 20px;
}
.divvisa {
    display: inline-block;
    padding:50px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
}

.imgs:hover  {
    transform: scale(1.05);
}

.imgs {
    transition: transform .25s ease;
}

fieldset {
    border: none;
}
.contactrow {
    margin-top: 20px;
}
.footer {
    height: 60px;
    width: 100%;
    background-color: #e7e7e7;
    padding: 10px;
    margin: 0px;
;}

.container, .container-fluid {
    min-height: 500px;
}

.howitworks {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.waytobeat {
    background-image: url("/img/money_transfer_slide.png");
    background-size: cover;
    height: 350px;
    padding: 20px;
}

/*about template*/
.aboutimg {
    background-image: url("./img/Screenshot_214.png");
    background-size: contain;
    height: 350px;
    background-repeat: no-repeat;
    background-color: white;
}
.about {
    margin-top: 20px;
}

/*Scroll to top button*/
.Top {
    text-align: center;
    position : fixed ;
    bottom : 20px;
    right : 20px ;
    background: darkgray;
    padding : 3px 5px;
    width: 55.5px;
    height: 55.5px;
    box-sizing : border-box ;
    font-size : 30px;
    border-radius : 100% ;
    color : white ;
    cursor : pointer ;
    z-index : 10 ;
    display : none;
    box-shadow: 0px 0px 5px 0px #333;
}

.scroll {
    margin-top: 30px;
}

.parallax-container {
    height: 500px;
}

.share {
    display: inline-block;
}

