
    .l-push-4 {
        margin-left: 16.666666666666664%;
    }

    .l-span-7 {
            display: inline;
            float: left;
            width: 29.166666666666668%;
            margin-left: 0%;
            margin-right: 0%;
        }
    form {
        display: block;
        margin-top: 0em;
    }

    input, textarea {
        -webkit-appearance: none;
        -webkit-border-radius: 0;
    }
    input {
        line-height: normal;
    }
    button, input, optgroup, select, textarea {
        color: inherit;
        font: inherit;
        margin: 0;
    }
.cal {
    height: 287px;
    width: 376px;
    background-color: red;
    }
.calculator__input-container {
    width: 336px;
    height: 52px;
}
.b-calculator__input-amount {
    -webkit-font-smoothing: antialiased;
    font-family: 'Sharp Sans Frontieres', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1;
    text-align: right;
    float: left;
    border: 0;
    width: 42%;
    height: 100%;
    padding: 0 16px 0;
}

.b-calculator__input-label {
    color: #00c6ff;
    font-size: 12px;
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    white-space: nowrap;
    float: left;
    width: 28%;
    height: 100%;
    padding: 16px 20px 0;}

.b-calculator__input-currency {
    text-align: left;
    float: right;
    position: relative;
    width: 30%;
    height: 100%;
}

.b-calculator__input-currency-select {
    font-family: 'Avenir W02', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 14px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    cursor: pointer;
    opacity: 0;
}

.b-calculator__input-currency-current {
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-family: 'Sharp Sans Frontieres', 'Helvetica Neue', helvetica, arial, sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
    height: 100%;
    padding: 14px 0 0 16px;
    background: #00c6ff;
    border-bottom: 1px solid #00a2d1;
}

.b-calculator__input-currency:after {
    position: relative;
    top: 50%;
    -ms-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    content: ' ';
    position: absolute;
    right: 12px;
    left: auto;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #fff;
    pointer-events: none;
}

    .b-button {
        box-shadow: 0 1px 1px rgba(128, 128, 128, 0.2);
        color: #fff !important;
        font-size: 14px !important;
        font-family: 'Avenir W02', 'Helvetica Neue', helvetica, arial, sans-serif !important;
        font-weight: 500;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        white-space: nowrap;
        display: inline-block;
        border: 0;
        border-bottom: 1px solid #32aa22;
        min-width: 192px;
        padding: 18px 36px 16px;
        background-color: #46d633;
        cursor: pointer;
    }
img:hover  {
transform: scale(1.05);
}
    
img {
transition: transform .25s ease;
}

.divvisa {
    display: inline-block;
    padding:50px;
    margin: 0 auto;
    background-color: white;
    width: 100%;
}
.info {
    width: 100%;
    height: 600px;
    margin-bottom: 50px;
    background-image: url("./img/hevon.jpg");
    background-size: cover;
   }
.ininfo {
    width: 50%;
    height: 600px;
    float: left;
    font-size: 40px;
    color: white;
    padding: 2%;
    }

.row-fluid {
    margin: 0 auto;
}
/*header*/
.nav.navbar-nav {
    float: right;
}

.navbar.navbar-default {
    border-radius: 0px;

      }

body  {
    background-image: url("img/blue.jpg");
    background-repeat: repeat-x;
    width: 100%;}

.parallax-window {
    height: 400px;
    width: 100%;
    background: transparent;
    color: white;
}

.map-container {
    width:550px;
    max-width: 100%;
    height: 300px;
}

.footer {
    height: 40px;
    width: 100%;
    background-color: darkseagreen;
    padding: 10px;
    margin: 0px;

;}
/*body  {
    background-image: url("./Images/headerTemp4.png");
    background-repeat: repeat-x;
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 20px;
     font-family: "MyriadSetPro";
    }

.container1 {
  position: relative;
  width: 100%;
}

@font-face {
    font-family: "MyriadSetPro";
    src: url("MyriadSetPro-Thin.ttf");
     }

@font-face {
    font-family: "MyriadSetPro-UltraLight";
    src: url("MyriadSetPro-UltraLight");
     }

p{font-size:20px;}

#hu {font-size: 36px; color: black; margin-left: 130px; margin-top: 30px;}

header {
    background-image: url("./Images/lalala.jpg");
    width: 100%;
    height: 106px;
    position: fixed;
    }

.main {
    max-width: 100%;
    height: 550px;
    position: static;
    padding-top: 100px;
    padding-left: 50px;
}

aside {
    background-color: #000044;
    color: white;
    width: 250px;
    height: 450px;
    position: static;
    float: left;
    display: inline-block;
}

ul { padding: 10px;
    list-style-type:none;}

li{
    font-size: 25px;
    font-family: MyriadSetPro;
    text-align: center;
    padding: 15px;
}

a:link, a:visited    {color:white;
    text-decoration: none;
}

a:hover, a:active   { font-size: 30px;
    color: white;
}

header:hover {
    background-image: url("headerTemp22_Fotor.png"); no-repeat;
} .toto,.bubu, .toto1, .visa,

.div {
    color: white;
    max-width: 100%;
    height: 600px;
    position: static;
    margin-top: 10px;
}

#one {
    width: 900px;
    height: 500px;
    position: static;
    float: left;
    display: hidden;
    border: hidden;
    margin-left: 30px;
    }


.div1 { background-image: url("./Images/congruent_outline.png");
color: white;
padding-top: 30px;
padding: 30px;
position: static;
}

.div2 {background-image: url("./Images/money_transfer_slide - Copy.png");
        background-repeat: no-repeat;
        padding-left: 30px;
        padding-top: 10px;
        color: black;
        height: 400px;
        margin-top: 10px;
       background-position: right;
       border: hidden;
              }

.bubu{background-color: #CCCCCC;
    padding: 20px;
}



#iframe2 {    width:100%;
    height:400px;
    margin-right: 50%;
    padding:0;
    position:static;
    overflow:hidden;
    float: left;
    border: hidden;
}
.slideshow  {
    width:100%;
    height:376px;
    margin-right: 50%;
    padding:0;
    position:static;
    overflow:hidden;
    float: left;
}

footer {background-image: url('./Images/IPUG-index-footer1.jpg');
   height: 450px;
    }

  .right {
    max-width: 40%;
    height: 300px;
    float: right;
    display: inline-block;
    position: relative;
    padding:30px;
    }
  .left {
    max-width: 40%;
    position: relative;
    height: 300px;
    float: left;
    display: inline-block;
    padding: 30px;
    }


#iframe {
    width: 100%;
    height: 450px;
    position: static;
    overflow: hidden;
    border: none;
}

img:hover {
transform: scale(.1);
}*/
