<template name="about">
    <div class="container">
    <div class="row">
    <div class="col-lg-6">
    <div style="background-color: white; padding:20px;">
    <h1>Introduction HEVON</h1>
    <p style="text-align: justify">
    Nowadays, companies all over the world are competing to attract customers by offering them specific services to improve their experience. Nevertheless, all these initiatives are most of the time business self centric and only affordable for big corporations thus, impacting set up costs, features and user experience.
    The Evo platform aims to bring a new world network cleverly bridging existing ones with its own. By doing this, we will be able to provide a bakery owner the same tools and metrics a national retailer has and reduce our network cost while scaling the same way Visa or MasterCard did with payment networks.
    The goal is to deploy an centralized Information System compatible with existing ones and able to replace others in order to fully take advantage of the Internet.
    </p>
    </div>
    </div>
    <div class="aboutimg col-lg-6">
    </div>
    </div>
    </div>
</template>