<template name="contact">

    <div class="account panel panel-info">
        <div class="panel-body">
            Contact
        </div>
        <div class="panel-footer">
            <div class="input-group">
                <span class="input-group-addon" >Email</span>
                <input name="username" type="text" class="form-control" value="contact@hevon.fr" readonly>
            </div>
            <br>
            <div class="input-group">
                <span class="input-group-addon">Call us</span>
                <input name="email" type="text" class="form-control" value="+33 (0) 6 72 69 23 24" readonly>

            </div>

        </div>
    </div>



</template>