<template name="contact">
    <div class="container">
    <div class="row">
        <form role="form" action="" method="post" >
            <h3><strong>Write us</strong></h3>
            <div class="contact col-lg-6">
                <div class="form-group">
                    <label for="InputName">Your Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Enter Name" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputEmail">Your Email</label>
                    <div class="input-group">
                        <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Enter Email" required  >
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputMessage">Message</label>
                    <div class="input-group"
                            >
                        <textarea name="InputMessage" id="InputMessage" class="form-control" rows="5" required></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
               <!-- <div class="form-group">
                    <label for="InputReal">What is 4+3? (Simple Spam Checker)</label>
                    <div class="input-group">
                        <input type="text" class="form-control" name="InputReal" id="InputReal" required>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>-->
                <input type="submit" name="submit" id="submit" value="Submit" class="btn btn-info pull-right">
                <br>
            </div>
        </form>
        <hr class="featurette-divider hidden-lg">
        <div class="col-lg-2 col-md-push-1">
            <address>
                <h3>Office Location</h3>
                <strong>Hevon corporation</strong><br>
                7 rue Pasteur<br>
                75011 Paris<br>
                <a href="https://www.google.fr/maps/place/1+Rue+de+Rivoli,+75004+Paris/data=!4m2!3m1!1s0x47e671fd8ee3023b:0xebb74a924bb62bed?sa=X&ei=XTYhVaW5LMatafKDgbgI&ved=0CB8Q8gEwAA">Map<br></a><br>
            </address>
        </div>
        <div class="col-lg-2 col-md-push-1">
            <address>
                <h3>Contact</h3>
                CEO & Founder: Benjamin Geyre
                <strong>Support:</strong><br>+33 (0) 672692324<br>
                <strong>Email:</strong><br>
                <a href="mailto:#">contact@hevon.co</a>
            </address>
        </div>

        <div class="col-lg-5 col-md-push-1">
<h3>You can find us here</h3>

<div class="map-container">
  {{> googleMap name="exampleMap" options=exampleMapOptions}}
</div>
            </div>
<br>
<br>
</div>
    </div>
</template>