<template name="hello">

<center>
    <div class = "divvisa">
        <h2>Choose the design of your Hevon card!</h2>
        <img id ="visa1" src="/img/visa1.png" width = "300">
        <img id ="visa2" src="./img/visa2.png" width = "300">
        <img id ="visa3" src="./img/visa3.png" width = "300"><br>
        <img id ="visa4" src="./img/visa4.png" width = "300">
        <img id ="visa5" src="./img/visa5.png" width = "300">
        <img id ="visa6" src="./img/visa6.png" width = "300">
    </div>
</center>



</template>