<template name="welcome">

<center>
    <div class = "divvisa">
        <h2>Choose the design of your Hevon ocards</h2>
        <img id ="visa1" src="./img/visa1.png" width = "300" href="{{pathFor 'contact'}}">
        <img id ="visa2" src="./img/visa2.png" width = "300" href="{{pathFor 'contact'}}">
        <img id ="visa3" src="./img/visa3.png" width = "300" href="{{pathFor 'contact'}}"><br>
        <img id ="visa4" src="./img/visa4.png" width = "300" href="{{pathFor 'contact'}}">
        <img id ="visa5" src="./img/visa5.png" width = "300" href="{{pathFor 'contact'}}">
        <img id ="visa6" src="./img/visa6.png" width = "300" href="{{pathFor 'contact'}}">
    </div>
</center>



</template>